@use '../mixin/configImgMixer.scss';
.aboutImgs{
    width: 16.875em;
    height: 37.5em;
    margin: 0 auto;
    &__content{
        height: 50%;
        &__img{
            width: 100%;
            height: 100%;
        }
    }
    &__contenttxt{
        height: 50%;
        text-align: -webkit-center;
        padding: 3.375em 1.875em;
        position: relative;
        &--color{
            background-color: #222222;
        }
        &__img{
            @include configImgMixer.imgconfig('../../sources/imgs/team.svg',68px,50px);
        }
        &__img2{
            @include configImgMixer.imgconfig('../../sources/imgs/calendar.svg',57px,50px);
        }
        &__imgshadow{
            width: 144px;
            height: 106px;
            position: absolute;
            top: 3em;
            z-index: -10;
        }
        &__tit{
            font-family: 'OldStandardTT-Regular';
            font-size:  1.88rem;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -0.8999999761581421px;
            text-align: center;
            margin: .8em 0;
            &--color{
                color: #fff;
            }
        }
        &__sub{
            font-family: 'Roboto';
            font-size: 0.88rem;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            &--color{
                color: #fff;
            }
        }
    }
}