@use '../mixin/buildTitsSubs.scss';
@use '../mixin/buildHeaderMixin.scss';
@use '../mixin//configImgMixer.scss';
.doublebed{
    &__content{
        padding: 0 3em;
        &__sub{
            @include buildTitsSubs.sub();
            margin-top: 3.5em;
            margin-bottom: 1em;
        }
        &__tit{
            @include buildTitsSubs.tit();
            margin-bottom: .5em;
        }
        &__precio{
            font-family: 'Archivo-Regular';
            font-size: 2rem;
            font-weight: 700;
            line-height: 43px;
            color: #BEAD8E;
            margin-bottom: .5em;
            display: block;
            & span{
                font-family: 'Archivo-Regular';
                font-size: 0.81rem;
                font-weight: 700;
                line-height: 43px;
                color: #BEAD8E;
            }
        }
        &__img{
            width: 335px;
            height: 214px;
            margin: 0 auto;
            display: block;
            margin-bottom: 2.5em;
        }
        &__avaible{
            font-family: 'Archivo-Regular';
            font-size: 1.13rem;
            font-weight: 700;
            line-height: 19.58px;
            letter-spacing: -0.5400000214576721px;
            text-align: center;        
        }
        &__labelin,&__labelout{
            font-family: 'Archivo-Regular';
            font-size: 0.88rem;
            font-weight: 700;
            line-height: 15.23px;
            text-align: left;
            margin-bottom: 1em;
        }
        &__labelin{
            margin-top: 2em
        }
        &__btn{
           @include buildHeaderMixin.btnsFirst();
           width: 100%;
           text-transform: uppercase;
           margin-bottom: 4em;
        }
        &__contentin{
            position: relative;
            margin-bottom: 1em;
            &__text{
                width: 100%;
                height: 3.75em;
                & input[type="text"]{
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    padding-left: 2em;
                    background: #F8F8F8;
                }
            }
            &__calendar{
                position: absolute;
                width: 16px;
                height: 16px;
                right: 0;
                top: 0;
                margin-top: 1.5em;
                margin-right: 2em;
                & input[type="date"]{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1000;
                    opacity: 0;
                }
                & img{
                    position: absolute;
                }
            }
        }
    }
    &__p{
        width: 23.938em;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #777777;
        margin: 0 auto;
    }
}

.amenities{
    padding: 0 3em;
    &__tit{
        @include buildTitsSubs.article();
        text-align: left;
        margin: 2em 0;
    }
    & ul{
        list-style: none;
        display: inline-block;
        font-family: 'Roboto';
        font-size: 0.94rem;
        font-weight: 500;
        line-height: 17.58px;
        color: #777777;
        & li{
            margin-bottom: 1em;
        }
        & li img{
            margin-right: .5em;
        }
    }
    &__content{
        &__list1{
            display: inline-block;
            margin-right: 1.5em;
        }
        &__list2{
            display: inline-block;
        }
    }
}

.founder{
    margin-top: 5em;
    &__img{
       @include configImgMixer.imgconfig('../../sources/imgs/profile.jpg',150px,150px);
       margin: 0 auto;
       border-radius: 10em;
       position: relative;
       &__circle{
        width: 43px;
        height: 43px;
        border: 3px solid white;
        border-radius: 10em;
        position: absolute;
        right: 0;
        z-index: 1000;
        background-color: #BDAC8D;
        align-content: center;
        &__check{
            display: block;
            margin: 0 auto;
        }
       }
    }
    &__nombre{
        @include buildTitsSubs.article();
        text-align: center;
        margin-top: 1em;
    }
    &__puesto{
        @include buildHeaderMixin.subtitulo();
        text-align: center;
        color: #BDAC8D;
        margin-top: 1em;
    }
    &__p{
        width: 19.846em;
        font-family: 'Archivo-Regular';
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #777777;
        margin: 0 auto;
        margin-top: 1.2em;
    }
}

.cancelation{
    padding: 0 3em;
    margin-top: 6em;
    &__tit{
        @include buildTitsSubs.article();
        text-align: left;
        margin-bottom: 1.5em; 
    }
    &__p{
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #777777;     
        margin: 0 auto;   
    }
}

.relatedrooms{
    padding: 0 3em;
    margin-top: 6em;
    margin-bottom: 5em;
    &__tit{
        @include buildTitsSubs.article();
        text-align: left;
    }
}

.swiper-button-next--pos{
    top: 7em !important;
}
.slider{
    &__content{
        &__topbar{
            &--display{
                position: absolute;
                background-color: #fff;
                width: max-content;
                height: 40px;
                bottom: -5%;
                right: 16.5%;
                align-content: center;
                padding: 0 1rem;
            }
            &__imgs{
                width: 100% !important;
            }
        }
    }
}
.contentAuxDetails{
    position: relative;
}
.contentAuxDetailsRoomTxt{
    margin-top: 2.5rem;
}
.room{
    &__imgRoom{
        &--list{
            width: 100%;
            height: 218px;
        }
    }
}
.auxcontentimgstopbarDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media only screen and (min-width: 1250px){
    .doublebed{
        position: relative;
        padding-left: 20%;
        margin-top: 4em;
        &__content{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            & div:nth-child(1){
                width: 100%;
            }
            &__sub{
                font-size: 0.88rem;
            }
            &__tit{
                font-size: 3rem
            }
            &__precio{
                font-size: 2.50rem;
                & span{
                    font-size: 1rem;
                }
            }
            &__img{
                width: 100%;
                height: 490px;
            }
        }
        &__p{
            font-size: 1rem;
            line-height: 24px;
            width: 100%;
        }
    }
    .contentAuxDetailsAvailability{
        width: 20%;
        position: absolute;
        right: 20%;
        top: 13%;
    }
    .contentRoomInfoDetails{
        padding-right: 2em;
        display: flex;
        align-items: flex-end;
        width: 35% !important;
        position: absolute;
        top: -1.5rem;
        background-color: #fff;
    }
    .amenities{
        padding-left: 20%;
        &__content{
            &__list1{
                margin-right: 5rem;
            }
        }
    }
    .founder{
        width: 20%;
        padding: 4em 2em;
        margin-left: 20%;
        box-shadow: 0px 14px 24px 0px #BEAD8E45;
    }
    .cancelation{
        width: 40%;
        margin-left: 20%;
    }
    .relatedrooms{
        margin-left: 20%;
    }
    .sliderroomdetails{
        width: 100%;
        //overflow: hidden;
    }
    .auxcontentimgstopbarDetails{
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .detailslide{
        width: 26.5% !important;
    }
    .slider{
        &__content{
            &__topbar{
                &--display{
                    right: 20%;
                }
            }
        }
    }
    .auxflexprices{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        & span:nth-child(2){
            margin: 0;
        }
    }
}