.contact {
  margin-top: 1em;
}
.contact__contentcontact {
  width: 100%;
  height: 14.75em;
  padding-left: 2em;
  padding-top: 3.5em;
  position: relative;
}
.contact__contentcontact__imgphone {
  display: inline-block;
  vertical-align: top;
  margin-right: 2em;
}
.contact__contentcontact__txtphone {
  display: inline-block;
}
.contact__contentcontact__txtphone__tit {
  font-family: "OldStandardTT-Regular";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 1em;
}
.contact__contentcontact__txtphone__num {
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #777777;
  display: block;
}
.contact__contentcontact__num {
  position: absolute;
  right: 0.3em;
  top: 0.02em;
  font-family: "Roboto";
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 234.38px;
  letter-spacing: -6px;
  text-align: left;
  color: #F8F8F8;
  z-index: -1;
}

.form {
  margin-top: 1em;
  padding: 1.5em;
  padding-bottom: 4em;
}
.form__headerimg {
  width: 100%;
  height: 450px;
  margin-bottom: 4em;
}
.form__inputs {
  position: relative;
  height: 33em;
}
.form__inputs__contentname {
  width: 100%;
  height: 4.188em;
  position: relative;
  display: block;
  margin-bottom: 1em;
}
.form__inputs__contentname__img {
  position: absolute;
  left: 5%;
  top: 40%;
}
.form__inputs__contentname__input {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  border: none;
  outline: none;
  padding-left: 3.2em;
  font-family: "Roboto";
  font-size: 0.94rem;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #777777;
}
.form__inputs__contentname__inputarea {
  width: 100%;
  height: 10.938em;
  background-color: #F8F8F8;
  border: none;
  outline: none;
  padding-left: 3.2em;
  font-family: "Roboto";
  font-size: 0.94rem;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #777777;
  padding-top: 1.8em;
  resize: none;
}
.form__btn {
  width: 16.563em;
  height: 4.5em;
  background-color: #BEAD8E;
  text-align: center;
  align-content: center;
  font-family: "Archivo-Regular";
  font-size: 0.81rem;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: #fff;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .contact {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  .contact__contentcontact {
    width: 25.406em;
  }
  .form {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    text-align: -webkit-center;
    margin-bottom: 5em;
  }
  .form__headerimg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .form .formImgAux {
    width: 1170px;
    height: 700px;
  }
  .form__inputs {
    height: -moz-max-content;
    height: max-content;
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0fr);
    gap: 8px;
  }
  .form__inputs__contentname__input {
    padding-left: 6.2em;
  }
  .form__inputs__contentname__inputarea {
    padding-left: 6.2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  .form__inputs__contentname__img {
    top: 38%;
  }
  .form__inputs__contentname__img--red {
    top: 16%;
  }
  .form__inputs__contentname:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .form__inputs__contentname:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .form__inputs__contentname:nth-child(5) {
    height: -moz-max-content;
    height: max-content;
    grid-column: span 2/span 2;
    grid-row: span 3/span 3;
    grid-column-start: 1;
    grid-row-start: 3;
  }
}/*# sourceMappingURL=contact.css.map */